[core]
	editor = vim
	whitespace = cr-at-eol
[alias]
	st = status
	br = branch
	ch = checkout
	co = commit
[color]
	ui = true
	diff = true
[include]
	path = ~/.gitconfig_local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yutaka
	email = y.tajika529@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	# Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
